EXPO_PUBLIC_GOOGLE_API_KEY="AIzaSyA52Wj35--J_in_3kdTFDxnl55dSD5MSfg"
EXPO_PUBLIC_SERVER_IP_ADDRESS="                                             " // IP address of the server
EXPO_PUBLIC_SERVER_PORT=""
